<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
DirectoryIndex Index.php
RewriteRule ^assets/(.*)$ Assets/$1 [NC,L]
RewriteRule ^image(.*) Image.php?$1 [L]
RewriteRule ^api(.*) Controller.php?$1 [QSA,L]
ErrorDocument 404 /Index.php
</IfModule>

AddType image/webp .webp
